<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <form (ngSubmit)="saveSettings()">
            
            
            
            <ion-item>
              <ion-label fixed>
                City
              </ion-label>
              <ion-input [(ngModel)]="city" name="city" type="text"></ion-input>
            </ion-item>
          
              <ion-button expand="full" type="submit" color="primary" fill="outline">Save Settings</ion-button>
          </form>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
